body{
    display: flex;
    background-color: lightblue;
    justify-content: center;
}


h1{
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.login-content{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
}

.login-container{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-cont{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


@media (orientation: portrait) {
    #table {
      display: block;
      width: 250px;
      background-color: #fff;
      padding: 40px 40px;
    }
  }

  .dialogue{
    background-color: #fff;
    border-radius: 10px;
    width:40%;
    min-width: 300px;
    
  }
  .transactionb{
    height:45px;
    border-color: black;
    background-color: #0076CE;
    border-radius: 5px;
  }